<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>The Therminator</title>
    <script src="Thermostat.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="jquery.pulse.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
    <script src="ui.js"></script>
    <link href="https://use.fontawesome.com/c6d6077668.css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="topbar">
        <section>
            <h1>______ THE ______<br /> THERMINATOR </h1>
        </section>
        <div class="error"></div>
    </div>
    <main>
        <div class="left">
            <div class="temp-controls">
                <section class="temp-up">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </section>
                <section class="temp-down">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </section>
                <section class="temp-reset">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </section>
                <section class="power-saving">
                    <i class="fa fa-leaf ps-on" aria-hidden="true"></i>
                </section>
            </div>
        </div>
        <div class="middle">
            <section class="hal">
                <img id ="hal9000" src="HAL9000.svg" />
                <span class="temp">20&deg;C</span>
            </section>
        </div>
        <div class="right">
                <section class="weather">
                    <ul class="info">
                        <li>
                            Location: <span id="location"><span>
                        </li>
                        <li>
                            Daily High: <span id="high-temp"><span>
                        </li>
                        <li>
                            Daily Low: <span id="low-temp"><span>
                        </li>
                        <li>
                            Current Temp: <span id="current-temp"><span>
                        </li>
                        <li>
                            Current Weather: <span id="current-weather"><span>
                        </li>
                        <li>
                            Wind Speed: <span id="wind-speed"><span>
                        </li>
                    </ul>
                </section>
        </div>
        <div class="bottom">
            <section class="thermometer">
            </section>
            <section id="energy-usage">
            </section>
            <section id="error">
            </section>
        </div>
    </main>

</body>

</html>
